/log.*
*~
/re-engine-Hyperscan-*
/.gdbinit
/.bash_history
/*.patch
/META.yml
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.old
/MANIFEST.files
*.bs
*.o
Hyperscan.bs
Hyperscan.c
Hyperscan.o
/blib
/pm_to_blib
/nohup.out
/Debian_CPANTS.txt
